@page
@model MarkdownViewer.App.Pages.AnalyzeModel
@{
    ViewData["Title"] = "Analyze";
}

<h1>Analyze Solution</h1>

<form method="post" enctype="multipart/form-data">    

    <div class="form-group">
        <label>VS Instance:</label>
        <select name="VSInstance" class="form-control ml-4" required="required" asp-items="@Model.VisualStudioInstanceSelect">
            <option>(select)</option>
        </select>
    </div>

    @if (Model.AllowLocal)
    {
        <div class="form-group">
            <label>
                <input type="radio" name="SourceType" value="@SourceType.LocalFile"/>
                Local Solution (.sln) File:
            </label>
            <input type="text" id="@AnalyzeModel.SourceTypeName(SourceType.LocalFile)" name="@AnalyzeModel.SourceTypeName(SourceType.LocalFile)" class="form-control ml-4 source-type"/>                
        </div>
    }

    <div class="form-group">
        <label>
            <input type="radio" name="SourceType" value="@SourceType.LocalZip"/>
            Solution Zip File:
        </label>
        <input type="file" id="@AnalyzeModel.SourceTypeName(SourceType.LocalZip)" name="@AnalyzeModel.SourceTypeName(SourceType.LocalZip)" class="form-control ml-4 source-type"/>
    </div>

    <div class="form-group">
        <label>
            <input type="radio" name="SourceType" value="@SourceType.DownloadZip"/>
            GitHub Repo Download Url:
        </label>
        <input type="text" id="@AnalyzeModel.SourceTypeName(SourceType.DownloadZip)" name="@AnalyzeModel.SourceTypeName(SourceType.DownloadZip)" class="form-control ml-4 source-type"/>
        <span class="text-muted ml-4">For example <strong>https://github.com/adamosoftware/Dapper.CX/archive/master.zip</strong></span>
    </div>

    <hr/>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>GitHub Repo Url:</label>
                <input type="text" name="GitHubRepoUrl" required="required" class="form-control ml-4"/>        
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Branch Name:</label>
                <input type="text" name="BranchName" required="required" value="master" class="form-control"/>
            </div>
        </div>
    </div>   

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Analyze Solution</button>
    </div>
</form>        

@if (Model.Errors?.Any() ?? false)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var err in Model.Errors)
            {
                <li>@err</li>
            }
        </ul>
    </div>
}

<h2>My Solutions</h2>

<ul>
    @foreach (var blob in Model.MySolutions)
    {
        <li>
            <a asp-page="Markdown" asp-route-solution="@blob.Name" class="btn btn-secondary">@blob.Name</a>
        </li>
    }
</ul>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("input:radio[name='SourceType']").click(function () {
                $('.source-type').removeAttr('required');
                var field = '#' + $(this).prop('value');
                $(field).attr('required', 'required');
            });
        });
    </script>
}