@page
@model MarkdownViewer.App.Pages.SolutionBrowserModel
@{
    ViewData["Title"] = "Classes";
}

<div class="row">
    <div class="col-3">
        <form method="get">
            <select name="SolutionName" class="form-control" onchange="this.form.submit()" required="required" asp-items="Model.SolutionSelect">
                <option value="">(solution)</option>
            </select>

            <select name="AssemblyName" class="form-control" onchange="this.form.submit()" asp-items="Model.AssemblySelect">
                <option value="">(assembly)</option>
            </select>
        </form>

        @if (Model.SolutionInfo != null)
        {
            foreach (var nsGrp in Model.SolutionInfo.Classes.Where(c => Model.ClassFilter.Invoke(c)).GroupBy(ci => ci.Namespace))
            {
                <h2>@Model.ShortNamespaces[nsGrp.Key]</h2>
                <ul>
                @foreach (var classInfo in nsGrp.GroupBy(ci => ci.Name).Select(grp => grp.First()))
                {
                    <li class="mb-2">
                        <a class="btn btn-sm btn-outline-info" asp-route-className="@classInfo.Name" asp-route-classNamespace="@nsGrp.Key" asp-route-solutionName="@Model.SolutionName">@classInfo.Name</a>
                    </li>
                }
                </ul>
            }
        }
        else
        {
            <p>please choose a solution</p>
        }
    </div>

    <div class="col-9 border-left">

    </div>
</div>
